*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.container{
  max-width: 90%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.navbar{
  background: #000;
  padding: 1rem;
  color: #FFF;

  &-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.cart-outside-dom{
  position: absolute;
  top: -10px;
  right: -10px;
  background: orangered;
  border-radius: 50%;
  padding: .2rem .7rem;
  font-size: 16px;
}

.logo{
  margin-left: -100px;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: limegreen;
}

.list{
  padding: 1rem 0;

  a{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    margin: .5rem;
  }
}

.showcase{
  height: calc(100vh - 100px);
  position: relative;
  background: rgba(0,0,0, 0.6);
}



.showcase::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  // padding: 0 2rem;
  z-index: -1;
}

.showcase-container{
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  h1{
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
  }

}

.lead{
  font-size: 2rem;
  color: #fff;
}

.btn{
  display: inline-block;
  padding: .7rem 1.5rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  margin-top: .8rem;
  transition: all .5s;

  &:hover{
    background: #fff;
    color: #333;
  }
}

.featured{
  padding: 2rem 0;


  &-container{
    display: flex;
  }

  h1{
    text-align: center;
    font-size: 2rem;
  }

  .featured-item{
    margin: 2rem .5rem;
    position: relative;
    width: 350px;
    height: 250px;
  
    &:hover .items{
      transition: all .8s;
      opacity: 1;
    }
  }
  
  .items{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    i{
      color: #fff;
      background: rgb(153, 78, 51);
      padding: .7rem;
      border-radius: 50%;
      cursor: pointer;
      margin-left: .5rem;
    }
  }
  
  .featured-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
}

.name, .price{
  text-align: center;
}

.name{
  font-size: 1.5rem;
}

.price{
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-all{
  background: red;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: .8rem 2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 18px;

  a{
    color: #fff;
  }
}

.cart-container{
  position: relative;
  cursor: pointer;
}

/*SIDEBAR*/
.sidebar{
  transform: translateX(500px);
  position: fixed;
  top: 0;
  right: 0;
  background: #f4f4f4;
  width: 400px;
  height: 100%;
  transition:all .5s;

  h2{
    margin: 2rem 0;
    text-align: center;
  }
}

.sidebar.show{
  transform: translateX(0);
}

.sidebar-container{
  display: flex;
  justify-content: space-around;
}

.sidebar-items{
  line-height: 1.3;
}

.sidebar-container img{
  width: 85px;
}

.sidebar-items-amount{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.close-cart{
  position: relative;
  left: 20px;
  top: 10px;
  color: #777;
  font-size: 2rem;
  cursor: pointer;
}

.remove-item, .amount-up, .amount-down{
  cursor: pointer;
}



